.mainContainer{
    background-image: url(../img/peopleBG.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 7%;
    width: 100%;
    height: 76%;
    padding: 10px;
}

.peopleContainer{
    background-color: #e6e6e6;
    position: absolute;
    overflow-y: auto;
    top: 10%;
    left: 15%;
    width: 70%;
    height: 80%;
    padding: 10px;
}

.peopleContainer h1 {
    font-size: 250%;
    padding-left: 3%;
}

.peopleContainer h2 {
    font-size: 200%;
    padding-left: 3%;
}

.peopleContainer h3 {
    font-weight: bold;
    font-size: 150%;
}

.peopleContainer p {
    float: left;
}

.peopleContainer a {
    text-decoration: none;
    color: black;
}
.peopleContainer hr {
    width: 1%;
    height: 50%;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
    background: #181818;
}

.rolle{
    width: 100%;
    margin-bottom: 5%;
    float: left;
    text-align: center;
}

.imgDiv {
    float: left;
    width: 33%;
    text-align: center;
}

.imgDiv table {
    margin-left: auto;
    margin-right: auto;
    font-size: 100%;
}
.imgDiv img {
    width: 50%;
}