html, body {
    margin: 0;
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background: #181818;
}

header,
footer {
    flex: none;
}

main {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    flex: auto;
}

.site-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #181818;
    padding:45px 20px 20px;
    font-size:15px;
    line-height:24px;
    color: white;
    text-align: right;
}

.copyright-text {
    margin:0;
}

ul.dropdown-menu{
    background-color: #181818;
    color: white !important;
}

.dropdown:hover .dropdown-menu>li>a:hover{
    color: white !important;
    background-color: #181818;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: #9d9d9d;
}

@media (max-width: 800px) {
    .site-footer {
        font-size: 13px;
        padding: 0;

    }

    .site-footer .copyright-text, .site-footer {
        text-align: center;
    }
}

@media (max-width: 600px) {
    .site-footer {
        font-size: 11px;

    }

    .site-footer .copyright-text, .site-footer {
        text-align: center;
    }
}
